html
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer
{
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    margin: 100px 0px;
    
}
html {
    scroll-behavior: smooth;
    
  }

header
{
    padding-top: 30px;
}
